.tile-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.tile-item {
  border: 2px solid black;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.529);
  border-radius: 3%;
  color: rgba(240, 248, 255, 0.795);
  min-width: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last-item {
  background-color: rgba(160, 220, 160, 0.636);
  color: rgb(8, 12, 15);
  position: relative;
}
.last-item::after {
  content: 'newest data';
  bottom: 1%;
  right: 1%;
  position: absolute;
  font-size: smaller;
  color: rgba(0, 0, 0, 0.595);
}

.picture {
  width: 10rem;
  border-radius: 2rem;
}
.tile-label {
  font-weight: bolder;
}
